/* Custom Styles for Roaa Makeup */

.glass-nav {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(252, 228, 236, 0.5);
}

.reveal {
    opacity: 0;
    transition: all 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.hero-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
}

.btn-hover {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hover:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px -5px rgba(240, 98, 146, 0.3);
}

/* Hide scrollbar for gallery tabs */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}


.font-soft-hand {
    font-family: 'Parisienne', cursive !important;
}




.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.testimonial-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
}